footer {
  background-color: #f8f9fa;
  padding: 10px 0;
  text-align: center;
  font-size: 14px;
  color: #6c757d;
}
@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.social-icon:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
