.home-page {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f9f7f1 0%, #e6f3ff 100%);
  height: calc(100vh - 7rem);
}
.home-page h1 {
  font-size: 2.5rem;
  color: #333;
  margin-top: 0;
  padding-top: 1rem;
}
.home-page h1,
p {
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .home-page {
    min-height: fit-content;
  }
}
