.home-page {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f9f7f1 0%, #e6f3ff 100%);
  height: calc(100vh - 7rem);
  min-height: fit-content;
}
.home-page h1 {
  font-size: 2.5rem;
  color: #333;
  margin-top: 0;
  padding-top: 1rem;
}
.home-page h1,
p {
  text-align: center;
}
.intro-text {
  font-size: 1.2rem;
  color: #555;
  max-width: 800px;
  margin: 1rem auto;
  line-height: 1.6;
}
@media screen and (max-width: 1024px) {
  .home-page {
    min-height: fit-content;
  }
  .home-page h1 {
    font-size: 2rem;
    padding: 0.5rem;
    padding-top: 1rem;
  }
  .intro-text {
    max-width: 90vw;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
}
