.home-page {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #f9f7f1 0%, #e6f3ff 100%);
  /*height: calc(100vh - 7rem);*/
  min-height: fit-content;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 64px;
  letter-spacing: 4px;
  font-weight: 700;
  margin-bottom: 0px;
  margin-top: 0;
  padding-top: 3vh;
  text-align: center;
}

.intro-text {
  font-size: 1.2rem;
  color: #555;
  max-width: 800px;
  margin: 1rem auto;
  line-height: 1.6;
}

/*.cards-container {
  display: flex;
  height: 100vh;
}
.cards-container button {
  background: none; /* убирает фон */
/* border: none; /* убирает рамку */
/* padding: 0; /* убирает внутренние отступы */
/* margin: 0;
  cursor: pointer; /* чтобы был pointer при наведении */
/* display: flex;
  flex: 1; /* чтобы кнопки занимали равное пространство */
/*}*/

/*.country {
  flex: 1;
  background-size: cover;
  background-position: center;
}*/
.cards-container {
  display: flex;
  height: 82vh;
  width: 95vw;
  margin: auto;
  overflow: hidden;
  padding: 0;
  padding-top: 1rem;
}

.cards-container .card-btn {
  flex: 1;
  display: block;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  max-height: 80vh;
}

.country {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.country {
  border-radius: 12px;
  overflow: hidden;
}
.card-btn {
  transition: all 0.5s ease;
}

.card-btn:hover {
  transform: translateY(-10px);
}

.cards-container:hover .card-btn {
  filter: brightness(0.7);
  transition: filter 0.4s ease;
}

.cards-container:hover .card-btn:hover {
  filter: brightness(1);
}

/* Левая */
.lt {
  background-image: url("/assets/images/homepage-imgs/Lithuania_homepage.avif");
  clip-path: polygon(0 0, 100% 0, 85% 100%, 0% 100%);
  margin-left: 18%;
}

/* Центральная */
.lv {
  background-image: url("/assets/images/homepage-imgs/Latvia_homepage.avif");
  clip-path: polygon(15% 0, 100% 0, 85% 100%, 0% 100%);
  margin-left: 0%;
}

/* Правая */
.ee {
  background-image: url("/assets/images/homepage-imgs/Estonia_homepage.avif");
  clip-path: polygon(15% 0, 100% 0, 100% 100%, 0% 100%);
  margin-left: -18%;
}

@media screen and (max-width: 1024px) {
  .home-page {
    min-height: fit-content;
  }
  .home-page h1 {
    font-size: 2rem;
    padding: 0.5rem;
    padding-top: 1rem;
  }
  .intro-text {
    max-width: 90vw;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .card-btn {
    max-height: 50vh;
    max-width: 50vw;
  }
}
